/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: maroon;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

nav ul {
  display: flex;
  margin-right: 2rem;
}

nav ul a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

nav ul a:hover {
  background-color: var(--main-blue);
}

.logo {
  position: relative;
  right: 1100px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 13px;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 150px;
}

/* Welcome section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#welcome-section p {
    font-style: italic;
    font-size: 3rem;
    font-weight: 200;
    color: mediumslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* About section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color: var(--main-blue);
}

.projects-section-header {
  max-width: 175px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
  display: grid;
  gap: 4px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 85% 15%;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

#projects .contact-links{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
}

.contact-details{
  color: white;
  background-color: var(--main-gray);
  align-content: flex-end;
  height: min-content;
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
}

.contact-details:hover .code{
  color: #ff7f50;
  opacity: 1;
}

.code {
  transition: color 0.3s ease-out;
  opacity: 0;
}

.project:hover .code {
  color: #ff7f50;
  opacity: 1;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.project-title {
  font-size: 2.3rem;
  padding: 2rem 0.5rem;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 2.5rem;
  padding-left: 20px;
}

.about p, .about i, .about2 p, .about2 i{
 background-color: var(--main-gray);
 padding: 10px;
}

.about p, .about2 p{
  max-width: 530px;
  width: 100%;
  text-align: left;
}

.about i, .about2 i{
  color: var(--main-red);
}

.about2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 2.5rem;
}

/* Hobbies section */

.hobbies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}
.hobbies-section p {
    font-style: italic;
}

.hobbies-grid {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  border: 5px solid black;
  height: 80%;
}

.hobbies-images{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  justify-content: space-around;
}

.hobbies-images img{
  width: 30%;
  border-radius: 50%;
  object-fit: fill;
}

.hobbies-text{
  display: flex;;
  flex-direction: row;
  width: 100%;
  height: 30%;
  border: 5px solid black;
}

/* Footer */

footer {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 2rem;
    padding-right: 5rem;
    width: 100%;
    border-top: 4px solid maroon;
    background: var(--main-gray);
}

footer p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}
